<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <handlers>
      <add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" requireAccess="Script"/>
      <add name="PHP_via_FastCGI_HTML" path="*.html" verb="GET,HEAD,POST" modules="FastCgiModule" scriptProcessor="C:\PHP\php-cgi.exe" resourceType="File" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <clear/>
        <rule name="RemoveTrailingSlashRule1" stopProcessing="true">
          <match url="(.*)/$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
          </conditions>
          <action type="Redirect" url="{R:1}"/>
        </rule>
        <rule name="RedirectUserFriendlyURL2" stopProcessing="true">
          <match url="^(.*?)\.php$"/>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
          </conditions>
          <action type="Redirect" url="{R:1}" appendQueryString="false"/>
        </rule>
        <rule name="RewriteUserFriendlyURL2" stopProcessing="true">
          <match url="^(.*?)(Contact|utility)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="{R:1}{R:2}.php" />
        </rule>
        <rule name="RedirectUserFriendlyURL1" stopProcessing="true">
          <match url="^(.*?)\.html$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
          </conditions>
          <action type="Redirect" url="{R:1}" appendQueryString="false"/>
        </rule>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^([^?]*?)$"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.html"/>
        </rule>
      </rules>
      <!--
      <outboundRules>
        <rule name="OutboundRewriteUserFriendlyURL2" preCondition="ResponseIsHtml1">
          <match filterByTags="A, Form, Img" pattern="^(.*)(Contact|utility)\.php$"/>
          <action type="Rewrite" value="{R:1}/{R:2}"/>
        </rule>
        <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
          <match filterByTags="A, Form, Img" pattern="^(.*)(.*?)\.html$"/>
          <action type="Rewrite" value="{R:1}/{R:2}"/>
        </rule>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html"/>
          </preCondition>
        </preConditions>
      </outboundRules>
      -->
    </rewrite>
    <tracing>
      <traceFailedRequests>
        <add path="*">
          <traceAreas>
            <add provider="ASP" verbosity="Verbose"/>
            <add provider="ASPNET" areas="Infrastructure,Module,Page,AppServices" verbosity="Verbose"/>
            <add provider="ISAPI Extension" verbosity="Verbose"/>
            <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite" verbosity="Verbose"/>
          </traceAreas>
          <failureDefinitions statusCodes="401.3,404,500"/>
        </add>
      </traceFailedRequests>
    </tracing>
    <!--<defaultDocument enabled="false">
      <files>
        <add value="home.html" />
      </files>
    </defaultDocument>-->
    <!--<fastCgi>
      <application fullPath="C:\php" />
    </fastCgi>-->
  </system.webServer>

</configuration>